body{
    padding: 0;
    margin: 0;
}
table{
    cursor: pointer;
}
td{
    display: inline-grid;
    text-align: center;
    border: 1px solid black;
    min-width: 97px;
}

.output{
    padding: 2px;
    border: 1px solid black;
    min-height: 69px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    max-height: 180px;
    overflow: auto;
}
.font{
    font-size: 60px;
    width: 1024px;
}
.button{
    border: 1px solid black;
}
.selected{
    background: #000;
    color: #fff;
}
.cursor{
    height: 60px;
    display: inline-block;
}
.cursor.black{
    color: black;
}
.cursor.white{
    color: white;
}

.normal-font{
    font-size: 20px;
}
.border{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 10px;
}